*.svn
bin/
cas/local-cas/target
*.iml
*.ipr
*.iws
.idea
cas/local-cas/.classpath
cas/local-cas/.project
cas/local-cas/.settings
.DS_Store
*.bpmn/
*.class
*.properties
/AntBuild
/out
.classpath
/src/g4server.properties
/src/jdbc.properties
/bin
/project/webapp/WEB-INF/classes/*
project/webapp/WEB-INF/*
